<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-3">
				<h1 class="title">Create Account</h1>
          
					<%= render "register_form"%>
			</div>
		</div>
	</div>
</div>