// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art-form-container {
  height: auto;
  margin-top: 45px;
  justify-content: center;

  .art-column {
    padding: 25px 30px 30px 30px;
    max-height: 1250px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .app_input {
      resize: none;
    }
  }
}

.article-container {
  width: 75%;
  margin: auto;
  padding-top: 35px;
  margin-top: 25px;

  .article-show {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .article_image {
      height: 345px;
      width: 65%;
    }

    .article_title {
      font-size: 20px;
    }

    .article_title,
    .article_test,
    .article_author,
    .art-vote {
      margin-top: 15px;
    }

    .art-vote {
      margin-bottom: 15px;
    }
  }
}
